.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #f9f9f9;
  height: 10vh;
}

.header__logo {
  height: 40px;
  object-fit: contain;
}

.header__icon {
  padding: 20px;
}